/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
/*Variables*/
@font-face {
  font-family: 'Lilita One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lilita One'), local('LilitaOne'), url(https://fonts.gstatic.com/s/lilitaone/v7/i7dPIFZ9Zz-WBtRtedDbYEF8QA.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}
/*Mixins*/
/*Rest of code here*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
html {
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
}
h1 {
  color: #52acff;
  font-size: 7.5rem;
  font-family: "Lilita One", cursive;
  margin: 3%;
}
@media (max-width: 500px) {
  h1 {
    font-size: 5.5rem;
  }
}
h1:hover {
  color: skyblue;
}
h2 {
  color: #52acff;
  font-size: 3.5rem;
  margin: 0% 0% 1.5% 0%;
}
@media (max-width: 500px) {
  h2 {
    font-size: 2.5rem;
  }
}
p {
  line-height: 2.5rem;
}
@media (max-width: 500px) {
  p {
    font-size: 2rem;
  }
}
ul,
ol {
  list-style: square;
  line-height: 3rem;
}
@media (max-width: 500px) {
  ul,
  ol {
    font-size: 2rem;
  }
}
body {
  font-size: 2rem;
  background: #b8b5b5;
}
footer {
  margin: 0% 3%;
}
.mainContainer {
  width: 100%;
  margin: 0 auto;
}
header {
  background: white;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 800px) {
  header nav {
    flex-direction: column;
  }
}
header nav div {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  header nav div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
header nav div a {
  text-decoration: none;
  font-size: 4rem;
  color: black;
  margin: 3%;
}
@media (max-width: 800px) {
  header nav div a {
    text-align: center;
    padding-top: 3%;
    width: 100%;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
  }
}
@media (max-width: 500px) {
  header nav div a {
    font-size: 3.5rem;
  }
}
section {
  margin: 3%;
}
.boxStructure {
  display: flex;
  align-items: center;
  width: 95%;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 3%;
}
@media (max-width: 800px) {
  .boxStructure {
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (max-width: 500px) {
  .boxStructure {
    flex-direction: column;
    justify-content: space-around;
  }
}
.boxStructure #intro {
  width: 28%;
}
@media (max-width: 800px) {
  .boxStructure #intro {
    width: 75%;
  }
}
@media (max-width: 800px) {
  #workHistory div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-evenly;
    width: 90%;
  }
}
@media (max-width: 500px) {
  #workHistory div {
    margin: 0 auto;
    width: 85%;
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}
